.image-container {
	position: relative;
	width: 100%;
	padding-top: 100%; /* 1:1 Aspect Ratio */
	overflow: hidden;
}
.image-container img {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transform: translate(-50%, -50%);
}